<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<header>
    <div class="auth-nav">
        <div class="auth-logos">
            <img class="auth-logo" src="/images/jordan.svg" alt="Jordan Logo">
            <img class="auth-logo" src="/images/nike.svg" alt="Nike Logo">
            <img class="auth-logo" src="/images/Yeezy.svg" alt="Yeezy Logo" width="50px">
            <img class="auth-logo" src="/images/Adidas_Logo.svg" alt="Adidas Logo">
            <img class="auth-logo" src="/images/off-white.svg" alt="Off-White Logo">
        </div>
        <nav>
            <ul class="auth-options">
                <li><a href="">Join Us</a></li>
                <li>|</li>
                <li><a href="">Sign In</a></li>
            </ul>
        </nav>
    </div>
    <nav class="main-nav">
        <a href="/">
            <img src="/images/transparent-logo.svg" alt="Logo" class="Logo" width="100" height="100" /></a>
        </a>
        <ul class="main-nav-links">
            <li class="main-nav-link"><a href=""> New Releases</a></li>
            <li class="main-nav-link"><a href=""> Popular Releases</a></li>
        </ul>
        <form class="nav-form" action="" method="post">
            <input class="search-bar" type="search" name="search" placeholder="Search">
            <img class="heart-img" src="/images/heart.svg" alt="Liked">
        </form>
    </nav>
    <div class="banner">
        <h2 class="banner-quotes">Quotes from famous designs</h2>
        <a class="banner-link" href="">Join Now</a>
    </div>
</header>