<%- include('./partials/header'); -%>

	<body>
		<div class="main-img-group">
			<img class="sneaker-img" src="images/1.png" alt="Sneakers">
			<img class="sneaker-img" src="images/2.png" alt="Sneakers">
		</div>
		<main class="container">
			<h1 class="main-title">Welcome to <%= title %>
			</h1>
			<p class="main-tagline">Find sneaker information has never been this easy.</p>
			<article class="http-top">
				<section class="http-request">
					<form class="http-group" action="" method="get">
						<select name="" id="">
							<option value="GET">GET</option>
							<!-- <option value="GET">POST</option> -->
						</select>
						<p class="api-display">http://localhost:3000/api/sneakers</p>
						<input type="text" name="" placeholder="1">
					</form>
				</section>
				<button class="btn" id="btn" type="submit"><i class="fa fa-plug"
						aria-hidden="true"></i>&nbsp;Find</button>
			</article>
			<section class="code-block">
				<pre id="sneakers">
[
	{
		"type": "Jordan",
		"img": [
			"/images/AJ-1-High-OG-CO.JP-Midnight-Navy.jpg"
		],
		"releaseYear": 2020,
		"_id": "5fb038aa86834dff6574e60e",
		"name": "Air Jordan 1 High OG CO.JP Midnight Navy",
		"retailPrice": 170,
		"description": "The Air Jordan 1 High OG CO.JP Midnight Navy was initially a Japan-exclusive back in 2001 but its returning for its first-ever retro this fall. The 2020 retro featured above essentially mimics the OG classic as details include white leather uppers with Midnight Navy overlays, Metallic Silver Swooshes and Wings branding. Finally Midnight Navy for the inner liner, Co.JP-branded insoles alongside a special 2001-2020 tag behind the tongue round out the style.",
		"releaseDate": "2020-11-09T00:00:00.000Z",
		"createdAt": "2020-11-14T20:06:02.047Z",
		"updatedAt": "2020-11-14T20:06:02.047Z",
		"__v": 0
	},
	{
		"type": "Adidas",
		"img": [],
		"releaseYear": 2020,
		"_id": "5fb2b4a81c997f1411ce9221",
		"name": "Pharrell X Adidas NMD Hu Black White",
		"retailPrice": 220,
		"description": "Donning black knitted uppers with embroidered Asian characters on the toe box, the only contrasting element consists of white speckled laces. Finally, matching black lace cage components and Boost tooling rounds out the design.",
		"releaseDate": "2020-11-19T00:00:00.000Z",
		"createdAt": "2020-11-16T17:19:36.204Z",
		"updatedAt": "2020-11-16T17:19:36.204Z",
		"__v": 0
	}
]
		</pre>
			</section>
			<h2 class="title">
				<%= title %> Documents
			</h2>
			<article class="api-content">
				<h2 class='sneaker-h2' onclick="hideContent()">Disclaimer</h2>
				<p id="disclaimer" class="sneaker-p">We are not affiliated, associated, authorized, endorsed by, or in
					any
					way officially connected with Adidas, Nike or Jordan, or any of its subsidiaries or its affiliates.
					The
					names as related names, marks, emblems and images are registered trademarks of their respective
					owners.
				</p>
				<h2 class='sneaker-h2' onclick="hideContent2()">Base URL</h2>
				<p class="sneaker-p" id="baseUrl"> The most current version of the API is v1, with the following base
					URL
					http://localhost:3000/api/sneakers

				</p>
				<h2 class='sneaker-h2' onclick="hideContent3()">Privacy</h2>
				<p class="sneaker-p" id="privacy">I do not log IP addresses or any personally identifiable information
					at the app or web
					server level. I
					collect timestamps, HTTP methods, urls, and response times to adjust caching strategies on popular
					endpoints.
					Below is a sample log line output:</p>
			</article>
		</main>

		<%- include('./partials/footer'); -%>