<%- include('./partials/header'); -%>

	<div class="main-img-group">
		<img class="sneaker-img" src="images/1.png" alt="Sneakers">
		<img class="sneaker-img" src="images/2.png" alt="Sneakers">
	</div>
	<main class="container">
		<h2 class="main-quotes">Shoes Speak Louder Than Words
		</h2>
		<p class="main-tagline">Find sneaker information has never been this easy.</p>
		<div class="latestRelease">
			<img class="latestReleaseSneaker" src="images/4.png" alt="Readymade">
			<img class="latestReleaseSneaker" src="images/3.png" alt="Readymade">
		</div>

		<div class="sign-up">
			<img class="sign-up-img" src="images/main2.JPG" alt="sign up">
			<form action="/" method="post">
				<h1 class="h3 mb-3 sign-up-title">Stay in the loop</h1>
				<p>Be the first to know about the latest drops.</p>
				<div class="input-group mb-3">
					<label for="inputEmail" class="visually-hidden">Email address</label>
					<input class="fName" type="text" id="inputEmail" class="form-control" name="fName"
						placeholder="First Name" required autofocus>
					<input class="lName" type="text" id="inputEmail" class="form-control" name="lName"
						placeholder="Last Name" required autofocus>
				</div>
				<div class="input-group mb-3">
					<input class="email" type="email" id="inputEmail" class="form-control" name="email"
						placeholder="Email address" required autofocus>
				</div>
				<label class="mb-3" for="gender">Gender</label>
				<div class="input-group mb-3">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
							value="option1">
						<label class="form-check-label" for="inlineRadio1">Male</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
							value="option2">
						<label class="form-check-label" for="inlineRadio2">Female</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
							value="option2">
						<label class="form-check-label" for="inlineRadio2">Prefer not to say</label>
					</div>
				</div>

				<div class="checkbox mb-3">
					<label class="mb-3">
						<input type="checkbox" value="remember-me"> Sign me up to Sneakers Club, featuring
						latest product info, news about upcoming events and more. Please see our Terms &
						Conditions and Privacy Policy and Sneakers Club Terms & Conditions for more details.
						I agree to receive personalised email marketing messages from Sneakers API.
					</label>
					<label>
						<input type="checkbox" value="remember-me"> I have read and agree to the Terms and
						Condition.
					</label>
				</div>
				<button class=" btn btn-lg btn-primary" type="submit">Sign in</button>
				<p class="mt-3 mb-3 text-muted">By clicking Sign Up, you have read and agreed to the adidas Privacy
					Notice
				</p>
			</form>
		</div>
	</main>

	<%- include('./partials/footer'); -%>