.auth-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
}

.auth-logos, .auth-options, .main-nav-links {
    display: flex;
    justify-content: space-evenly;
}

.auth-options {
    font-size: .8rem;
    width: 200px;
    padding-right: 8%;
    margin-bottom: 0%;
}

.auth-logo {
    width: 40px;
    height: 40px;
}

.auth-logo, .main-nav-link {
    padding-left: 8%;
}

.auth-options, .main-nav-links {
    list-style: none;
}

.main-nav-links {
    width: 65%;
}

.main-nav-link {
    font-size: 1.3rem;
}

.auth-options a, .main-nav-links a {
    text-decoration: none;
    color: black;
}
.main-nav {
    display: flex;
}

.main-nav-mobile {
    display: none;
    background-color: black;
}

.main-nav-mobile img {
    width: 20px;
}

.main-nav-group {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

.nav-form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 8%;
    padding-right: 2%;
    margin: 2%;
}

.heart-img {
    width: 2rem;
}

.search-bar {
    background-color: whitesmoke;
    border-radius: 22px;
    padding: 4%;
    border: none;
}

.search-bar::placeholder {
    background-image: url("/images/search.svg");
    background-repeat: no-repeat;
    text-indent: 20%;
    opacity: .5;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 2%;
}

.banner-quotes {
    font-size: 1rem;
    text-align: center;

}

.banner-link {
    color: black;
    font-size: .8rem;
}

@media only screen and (max-width: 1023px) {
    .main-nav-mobile {
        display: contents;
        width: 100%;
    }
    .mobile-overlay {
        padding: 0% 4%;
        width: 20%;
    }
    .main-nav-mobile img {
        margin: 8%;
        opacity: 0.8;
    }
    .main-nav-group, .auth-nav {
        display: none;
    }
    .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    /* background-color: rgba(0,0,0, 0.9); */
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .overlay-nav-link {
      list-style: none;
  }

  .overlay-info {
      margin: 0 auto;
      padding-top: 30%;
      width: 80%;
      text-align: left;
      font-size: 1.3rem;
      opacity: 0.8;
  }

  .overlay-btn {
    padding-top: 10%;
    opacity: 0.9;
  }

  .overlay-btn-join {
      padding: 2% 8%;
      border-radius: 16px;
      background-color: black;
      color: white;
  }
  .overlay-btn-sign {
      padding: 2% 8%;
      border-radius: 16px;
      background-color: transparent;
      border-color: darkgray;
      color: black;
  }

  .overlay-logos{
      display: flex;
      flex-direction: column;
      padding: 10%;
  }

  .overlay-logo {
      display: flex;
  }
  
  .overlay-logo-img {
      padding-bottom: 10%;
      padding-right: 6%;
      width: 40px;
      height: 40px;
  }

  .overlay a {
    text-decoration: none;
    text-align: left;
    color: black;
    display: block;
    transition: 0.3s;
  }

  .overlay-info a {
      font-weight: bold;
  }

  .overlay-nav-link a {
    padding: 2% 10%;
    text-decoration: none;
    font-size: 1.7rem;
    text-align: left;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 60px;
    filter: none !important;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }