body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: block;
  margin: 0;
}

.main-img-group {
  padding: 0 4%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sneaker-img, .latestReleaseSneaker {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  padding: 4%;
}

.main-quotes {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4rem;
  width: 40%;
  text-align: center;
  line-height: 80%;
}

.main-tagline {
  font-size: 1.2rem;
  padding: 2%;
}

.latestRelease {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.latestReleaseSneaker{
  padding: 1%;
  width: 75%;
}

.sign-up {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15% 0%;
}
.sign-up-img {
  width: 80%;
}

.sign-up-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 4rem;
}

.fName {
  margin-right: 5%;
}

.fName, .lName {
  width: 40%;
}

.email {
  width: 85%;
}

.http-top {
  display: flex;
  flex-direction: column;
}
.http-request {
  padding: 0;
  margin: 2rem;
}
.http-group {
  display: flex;
}
.http-group select, .http-group input {
  padding: 1rem;
  height: fit-content;
}
.api-display {
  background-color: lightgray;
  border: 1px solid black;
  padding: 1rem;
  margin: 0;
}

.code-block {
  background-color: lightgray;
  margin: 0 10rem;
}
pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
  padding: 2rem 12rem;
  overflow: auto;
  height: 35vh;
  width: 35vw;
}
.sneaker-h2 {
  font-size: 5rem;
}
.sneaker-h2:hover {
  cursor: pointer;
  font-size: 5.2rem;
}
.sneaker-p {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: .3rem;
  display: none;
}

  .api-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(to right bottom, rgba(119,119,119,0.6), rgba(119,119,119,0.6)),url("/images/sneakers.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

#formTitle {
  text-align: center;
}
label {
  margin-left: 5px;
}
.newPost {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
/* Footer */


footer {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  font-weight: 700;
  padding: 3% 0% 0%;
  background-color: rgb(18, 18, 18);
  color: whitesmoke;
}

.footer-center-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-center-links a {
  font-size: 1rem;
  text-decoration: none;
  color: whitesmoke;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
}

.footer-bottom a {
  text-decoration: none;
  color: whitesmoke;
}

.footer-bottom-right, .footer-bottom-left {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  color: whitesmoke;
}

.footer-center {
  display: flex;
  justify-content: space-between;
  padding: 0% 2%;
}

footer a:hover {
  color: darkred;
}

footer p {
  opacity: .7;
  margin-top: 2%;

}